@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0B0415;

  --para: "Inter", sans-serif;
  --head: "Orbitron", sans-serif;
}

body {
  color: #fff;
  background: var(--bg);
}
